h1{
	font-size: 3.9vw;
	color: brown;
	text-align: center;
	margin-top: 10px;
}
h1:hover{
	font-size: 4.3vw;
}

header{
	display: grid;
	grid-template-columns:25% 50% 25%;	
	border-radius: 15px;
	border-style: solid;
	border-color: black;
	margin-bottom: 0em;
	background-color: white;
	width: 100%;
}
#logo{
	width: 100%;
	border-image: black;
	border-radius: 15px;
}
#manu{
	font-size: 1.5vw;
	width: 100%;
}
#manu ul{
	margin-right: 10%;
	height: 100%;
	/*margin: auto;*/

	
}
#manu ul li{
	color: white;
	background-color:black;
	opacity:0.6;
		background-color: black;
	width: 25%;
	height: 2.5vw;
	float: left;
	list-style: none;
	line-height: 2.5vw;
	text-align: center;
	
}
#manu ul li ul{
	display: none;
	padding: 0px;
	width: 100%;

}


#manu ul li:hover>ul{
	display: block;
	background-color: black;
}
#manu ul li:hover{
	
	opacity: 0.8;
}
#manu ul li:click{
	background-color:  #c27721;
}
#manu ul li ul li{
	
	width: 100%;
	height: 100%;
	list-style: none;
	position: relative;
}
#manu ul li ul li:hover , click{
	opacity: 100%;
	display: block;	
	background-color:  #c27721;
	color: black;
}
#manu ul li ul li ul{
	position: absolute;
	left:100%;
	top: 0px;

}

#offer_display{
	height: 500px;
	border:black solid;
	background-color: red;
	border-radius: 10px;
	display: grid;
	grid-template-columns:25% 25% 25% 25%;	
}

#hori-grid{
	
	width: 95%;
	height: 100%;
	background-color: white;
}